<div class="container" style="display: flex; justify-content: center; flex-direction: column;">

  <mat-card class="cardP" *ngIf="cena" style="z-index: 1;">

    <mat-card-title style="margin-bottom: 25px; margin-top: 20px;">Login </mat-card-title>

    <form class="example-form" style="display: flex; flex-direction: column; align-items: center;" [formGroup]='form'>

      <mat-form-field appearance="fill" class="example-full-width" style="width: 300px;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Ana12@gmail.com" formControlName="email">
      </mat-form-field>



      <mat-form-field appearance="fill" class="example-full-width" style="width: 300px;">
        <mat-label>Senha</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button class="btn" mat-raised-button color="primary" (click)="getDados()">Login</button>

    </form>

  </mat-card>
  <mat-progress-spinner color="primary" [mode]="modelo" value="0">
  </mat-progress-spinner>
</div>