<form class="example-form"
    style="width: 100%; height: 400px; display: flex; flex-direction: column;justify-content: center;">
    <mat-form-field class="example-full-width">
        <mat-label>Titulo de anotação</mat-label>
        <input [formControl]="titulo" matInput placeholder="Limpeza" value="Sushi">
    </mat-form-field>



    <mat-form-field class="example-full-width">
        <mat-label>Texto da anotação</mat-label>
        <textarea [formControl]="texto" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>



    <mat-form-field appearance="fill">
        <mat-label>Quem é você?</mat-label>
        <mat-select [formControl]="usuario">
            <mat-option *ngFor="let user of dataSource; let i = index" [value]='dataSource[i]'>
                {{user.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>




    <button mat-raised-button color="primary" style="margin-top: 20px;" (click)="insertAnotacao()">Salva</button>



</form>