<div class="principal">
  <mat-card>
    <mat-card-title style="text-align: center;">Cadastro de Usuarios

      <form class="example-form" [formGroup]="formUsuario">

        <mat-form-field class="example-full-width" style="margin-top: 50px;">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex. Ana Maria" class="form-control" formControlName="nome">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. Ana12@gmail.com" formControlName="email">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>



      </form>

      <button mat-raised-button color="primary" [disabled]="!formUsuario.valid" (click)=createUser()>Salvar</button>
      <button mat-raised-button color="accent" (click)="btnCancel()">Cancelar</button>


    </mat-card-title>

  </mat-card>


</div>