
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.footer{
    position: fixed;  
    height: 100px;  
    justify-content: center;
    bottom: 0;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 14px;
}