<div class="principal">

  <mat-card>

    <mat-card-title>
      <p style="margin-left: 10px;">Cadastro cliente</p>

      <div class="example-form" [formGroup]='formulario'>


        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>

          <input matInput placeholder="Ex. Ana Maria" formControlName="nome" (keyup)='peganome($event)'>
          <span matSuffix class="material-icons" style="margin-right: 20px;">
            account_circle
          </span>
        </mat-form-field>



        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. Ana12@gmail.com" formControlName="email">
          <span matSuffix class="material-icons" style="margin-right: 20px;">
            email
          </span>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>988552233</mat-label>
          <span matPrefix>(91) &nbsp;</span>
          <input type="tel" matInput placeholder="00000 1111" formControlName="telefone">
          <span matSuffix class="material-icons" style="margin-right: 20px;">
            phone
          </span>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="nascimento">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="picker.open()">Calendario</button>

      </div>

      <div class="btn2" style="display: flex ; justify-content: flex-end;">

        <button mat-raised-button color="primary" [disabled]="!formulario.valid"
          (click)="createCliente()">Salvar</button>
        <button mat-raised-button color="accent" routerLink="/clientes">Cancelar</button>

      </div>



    </mat-card-title>


  </mat-card>




</div>