
<mat-sidenav-container >
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav"  >
            <a *ngFor = 'let rotas of permissao' mat-list-item [routerLink]='rotas.link' >
                <i  class="material-icons icon " style="vertical-align: middle" >{{rotas.icon}}</i>
            </a>          

            <a mat-list-item (click)="sair()">
                <i class="material-icons icon" >clear</i>
            </a>
        </mat-nav-list>

       
    </mat-sidenav>
      
    <mat-sidenav-content class="content">     
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

