mat-toolbar{
    
    justify-content: space-around;
    
    bottom: 1;
}


span{
    transition:  all 0.2s ;
}

.imagem{
    max-width: 200px;
    animation-delay: 800ms;
}

@media (max-width: 500px ){
    mat-toolbar{
       
        height: none !important;

    } 

    .imagem{
        width: 60%;
        animation-delay: 200ms;
    }
    span{
        display: none;
        transition:  all 0.2s ;
    }

}