<mat-list>
    <mat-list-item style="display: flex; justify-content: space-evenly;">
        <p>
            <mat-form-field style="margin-top: 20px;">
                <mat-label>Entrada</mat-label>
                <input matInput placeholder="Entrada" (keyup)="resultado($event)" name="Entrada">


            </mat-form-field>
            <button class="btn" mat-raised-button color="primary" style="margin-left: 30px; "
                (click)="getValor()">Troco</button>
        </p>
    </mat-list-item>

    <mat-card style="margin: 20px;">Entrada:{{recebindo | currency : 'R$'}}</mat-card>
    <mat-card style="margin: 20px;">Total:{{valor | currency : 'R$'}}</mat-card>
    <mat-card style="margin: 20px;">
        <h2>Troco:{{res | currency : 'R$' }}</h2>
    </mat-card>

</mat-list>